html,body{
height:100%;
margin: 0px;
}

#img{
display:block;
object-fit: cover;
width:100%;
height:100%;
}

#d1, #d2{
	display:block;
	position: absolute;
    top: 0;
    left: 0;
	border: 10px solid RGBA(255,255,255,0);
	background-color: RGBA(255,255,255,0.5);
	margin-top:20%;
	border-radius: 100%;
}

#d1{
	margin-left:1%;
}
	
#d2{
	margin-left:97%;
}